{% extends"base.html" %}
{% block content%}
<ul>
<li><a href="/register_user">Cadastrar Usuários</a></li>
<li><a href="/register_sensors">Cadastrar Sensores</a></li>
<li><a href="/register_actuators">Cadastrar Atuadores</a></li>
<li><a href="/list_users">Listar Usuários</a></li>
<li><a href="/sensors">Listar Sensores</a></li>
<li><a href="/actuators">Listar Atuadores</a></li>
<li><a href="/remove_user">Remover Usuário</a></li>
<li><a href="/remove_sensor">Remover Sensor</a></li>
<li><a href="/remove_actuator">Remover Atuador</a></li>
<li><a href="/tempo_real">Sensor de Temperatura e Umidade em tempo real</a></li>
<li><a href="/">Menu de Login</a></li>

</ul>
{% endblock%}