{% extends "base1.html" %}
{% block content%}
    <h1>Atuadores</h1>
    <ul>{% for atuador, value in atuadores.items() %}
        {% if(value == 0 or value == "0") %}
        <li>{{atuador}}: Desligado</li>
        {% elif(value == 1 or value == "1") %}
        <li>{{atuador}}: Ligado</li>
        {% else %}
        <li>Valor Invalido</li>
        {% endif %}
        {% endfor %}
        </ul>

    <li> Entrar para <a href="/sensors">sensores </a>!
    <li> Voltar para <a href="/home">pagina inicial </a>!
    
    </p>
    {% endblock%}